/* Preloader Website */
#preloader  {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #fff;
     z-index: 99;
    height: 100%;
 }

#status  {
     z-index: -100;
     width: 100%;
     height: 100%;
     background-image: url(../img/start.png);
     background-repeat: no-repeat;
     background-position: center;
     margin: 0 auto;
 }

 /* All */
#menu {display: none;}

.navbar-default .navbar-nav > li > a{
    color: #000000 !important;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
    color: #000 !important;
}
.navbar {
    border-radius: 0px !important;
    font-family: 'Bebas';
    font-size: 2rem;
    border: none !important;
    min-height: 70px !important;
}
.navbar-default {
        background-color: rgba(255,255,255,0.7) !important;
    }
.container-fluid{
    margin-top: 5px;
    padding-right: 70px !important;
    padding-left: 70px !important; 
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.95); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: transparent;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 5px ;
    border: none ;
    box-shadow: none ;
    -webkit-box-shadow: none ;
    width: 80%; /* Could be more or less, depending on screen size */
}

.photo-modal-content {
    background-color: transparent;
    margin: 1.3% auto; /* 15% from the top and centered */
    border: none ;
    box-shadow: none ;
    -webkit-box-shadow: none ;
    max-width: 70%; /* Could be more or less, depending on screen size */
    z-index: 1;
}
.dk-showmodal{
  background-color: rgba(255,255,255,0) !important;
}
.dk-modal {
    margin-top: 5%;
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,1) !important; /* Black w/ opacity */
}
.dk-modal-content {
    /*background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,1); /* Black w/ opacity */
    margin: -5% auto; /* 15% from the top and centered */
    border: none ;
    box-shadow: none ;
    -webkit-box-shadow: none ;
    max-width: 80%; /* Could be more or less, depending on screen size */
    padding: 0 5% 0 5%;
    z-index: 1;
}
/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: normal;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form {
  font-family: 'Bebas';
  color: #fff;
}
label{
  font-weight: normal;
  font-size: normal;
}
div.modal-backdrop.in{
  display: none !important;
}
#login {
  font-family: 'Bebas';
  font-size: 30px;
  color: #FFF;
  padding: 10% 35% 0% 35%;
}
input.btn.btn-info {
  margin-top: 2em;
  font-family: initial;
}

.form-control {
  border-radius: 0px;
}
.form-horizontal .control-label {
    padding-top: 20px;
}
.continue {
  margin: 15% auto;
  padding-left: 15% !important;
  font-family: 'Bebas';
  font-size: 30px;
  color: #FFF;
}
.save {
  display: block;
  font-family: 'Bebas';
  text-align: center;
  color: black !important;
  text-decoration: none !important;
  font-size: 2em;
  margin: 12% auto;
}
.save > a, .save > a:hover {
  text-decoration: none !important;
}

button.save {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

a#registration-cont, a#registration-cont:hover{
  color: #FFF;
  text-decoration: none;
}
a#registration-post, a#registration-post:hover{
  color: #FFF;
  text-decoration: none;
}
img.next {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  -webkit-filter: invert(100%); filter: invert(100%);
  max-height: 2em;
}
img.dk-next {
  vertical-align: middle;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
img.dk-prev {
  vertical-align: middle;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

#footer {
    position: absolute;
    bottom: 5rem;
    width: 100%;
}
.m-b {
    display: none;
}
.menu-bawah, .menu-bawah > li > a {
    font-family: 'Bebas';
    list-style: none;
    float: right;
    text-align: right;
    color: #fff !important;
}
.menu-bawah > li > a:hover, .menu-bawah > li > a:focus{
    text-decoration: none !important;
}
#info {
    font-family: 'Daun';
    color: #fff;
    position: absolute;
    float: left;
    bottom: 10px;
}
.mb { /* Tombol Menu Bawah*/
    position: relative;
    padding-top: 2em;
}
.up {
      -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.right {
      -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.left {
        -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.btn-right {
    float: right;
}
.btn-modal{
  position: fixed;
  float: right;
  bottom: 20px;
  right: 70px;
  filter: invert(100%);
}
.dk-btn {
  display: block;
  position: relative;
  bottom: 6em;
}
#menu-photos {
    position: fixed;
    bottom: 2rem;
    width: 100%;
}

#photos .box > img {
    display: block;
    vertical-align: middle;
    width: auto;
    max-height: 190px;
    margin: auto;
    overflow: hidden;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   -ms-transition: all 1s ease;
   transition: all 1s ease-in-out;
}

#photos .box:hover > img {
   -webkit-filter: brightness(50%);
   filter: brightness(50%);
   transform: scale(1);
   -webkit-transition: transform 8s ease-out;
   -moz-transition: transform 8s ease-out;
   -o-transition: transform 8s ease-out;
   -ms-transition: transform 8s ease-out;
   transition: transform 8s ease-out;
}

#photos .box:hover > img.photos-contributor {
   -webkit-filter: brightness(100%);
   filter: brightness(100%);
   transform: scale(1);
}

#photos .box {
    float: left;
    overflow: hidden;
    height: auto;
    padding: 0.7rem;
}
#photos .box.contributor{
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    margin: .5%;
}
#photos .box .caption {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: #fff;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out; 
        transition: all 300ms ease-out;
    left: 0;
}
span.caption.caption.photos-contributor {
    background-color: rgba(255,255,255,0.8) !important; 
    color: #000000 !important;
    z-index: 100;
}
#photos .box .fade-caption  {
    opacity: 0;
    font-family: 'Daun';
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    margin: 4rem auto;
}
span.caption.fade-caption.photos-contributor{
    font-family: 'Bebas' !important;  
    margin: 16rem auto 0rem auto !important;
}
span.caption.fade-caption.photos-contributor > h2 {
  font-size: 14pt;
  line-height: 1rem;
}
#photos .box:hover .fade-caption {
    opacity: 1;
    z-index: 1;
}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
  margin-right: 4rem;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1.3em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}
.img-circle {
    border-radius: 50%;
    max-width: 40px;
    height: 40px;
    float: right;
    margin-top: 5px;
    
} /*  Responsive Design  */
.photosmodal {
    width: auto;
    margin: 5% auto;
    display: block;
    max-width: 90%;
}
a:focus {
    outline: none;
}
.content-desc{
  font-family: 'Daun';
  margin: 5% auto;
  padding: 5em;
  color: white;
}
.content-desc > h1 {
  font-size: 5em;
  line-height: 0.05;
  font-style: italic;
  text-transform: uppercase;

}
#modal-photo-author {
  color: white;
}
.content-desc > h2 {
  text-align: left;
  margin-top: 30px;
  font-size: 4em;
  line-height: 1.0;
}

.content-desc > p {
  font-size: 1.5em;
  white-space: pre-line;
}
.dk-content-desc {
  padding: 5rem 5rem 6rem 5rem;
  color: #000000;
}
.dk-content-elite {
 padding: 0rem; 
}
#addphoto .title{
  color: #fff;
  font-family: 'Bebas';
  font-size: 2rem;
  line-height: 1.5em;
}
#addphoto .modal-content{
  margin: 2% auto;
}
.contactus {
  white-space: pre-line;
  text-align: center;
  font-size: 2em;
  font-family: 'Daun';
}
.logo-brand {
  max-width: 23%;
}
.socmed {
  text-align: center;
  vertical-align: middle;
}
.socmed > a > img{
  max-width: 3.5%;
  display: inline-block;
}
.inline {
  display: inline;
  float: left;
}
.img-dk {
  max-width: 25%;
}
.dk {
  margin-top: 2%;
  padding: 0px;
  overflow: hidden;
  max-height:50%; 
}
.dk-month{
  font-family: 'Daun';
  font-size: 2.5rem;
  color: #959697;
  margin-top:2rem;
}
.dk-title{
  font-family: 'Daun';
  font-size: 2.5rem;
  color: #030404;
  margin-top:2rem;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.control {
  position: fixed;
  top: 35%;
  z-index: 1;
}
u {
  text-decoration: none;
  border-bottom: 1px solid black;
  display: inline-block;
  margin-bottom: -1px;
}​

.profile_pic {
  max-width: 30%;
  text-align: center;
}

/*
 *  STYLE 4 Scrollbar
 */

.scroll::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar
{
  width: 4px;
  background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 2px solid #555555;
}
.slick-disabled {
  display: none !important;
}
.editprofile .title{
  font-family: 'Bebas';
}
.red {
  color: red !important;
}
.pagenation {
  display: block;
  position: fixed;
  bottom: 20px;
 text-align: center;  
}
.pagenation > a > h2:hover {
  text-decoration: none;
}
.pagenation > a > h2 {
  color: grey !important;
}

.show-project {
  margin: auto 5rem;
}
.project-caption, .project-caption > h1,h2,h3 {
  text-align: center;
  margin: 10px auto;
  color: black;
}

.project {
  font-family: 'Daun';
  text-transform: uppercase;
}
.project > h1>u {
  border-bottom-color: grey !important;
  line-height: 0.5em; 
}
.project-detail{
  background-color: rgba(255,255,255,1); 
  box-shadow: none ;
  -webkit-box-shadow: none ;
  max-width: 80%;
  margin-top: 0px !important;
  height: 400px !important;
}

.project-detail-content{
  background-color: rgba(255,255,255,1); 
  margin: 3% auto; /* 15% from the top and centered */
  border: none ;
  color: black;
  box-shadow: none ;
  -webkit-box-shadow: none ;
  height: 500px;
  overflow-x: hidden;
  max-width: 80%;
  padding: 3%;
  z-index: 1;
}
.project-detail-content-part {
  height: 250px !important;
  margin: 0px auto !important;
}
.project-detail-content > h3 {
  text-align: left;
  text-transform: uppercase;
}
.project-detail-content > h2 {
  text-align: left;
  text-transform: uppercase;
  font-size: 3em;
  line-height: 0.5em;
}
.project-showmodal {
  margin-top: 60px !important;
  background-color: rgba(255,255,255,1) !important;
}
.contributor {
    margin-bottom: 2%;
}
.img-project {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain; 
  display: inline-block;
  vertical-align: bottom;
}
.nama-contributor {
  display: inline-block;
  vertical-align: middle;
  text-indent: 2em;
  font-family: 'Daun';
  text-transform: uppercase;

}
.see-project {
  font-family: 'Daun';
  text-transform: uppercase;
}
.see-project > h2 {
    color: #88cee5 !important;
    vertical-align: middle;
    margin: 10% auto;
}
.thumbimage {
  max-width: 33.33%;
  display: inline-block;
  padding: 0px 5px;
}
.upload_dk > input {
  display: none;
}
.upload_dk > label > img {
  max-width: 96%;
  padding: 1%;
}
.upload_dk_left > label > img {
  float: right;
}


 /* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
    
    #status  {
         z-index: -100;
         width: 100%;
         height: 100%;
         background-image: url(../img/start.png);
         background-repeat: no-repeat;
         background-position: center;
         background-size: contain;
         margin: auto auto;
     }

    .navbar-brand > img {
        width: 18rem;
        margin: auto auto;
        position: relative;
        top: -1.3rem;
    }

    
    .menu-bawah, .menu-bawah > li > a , #info {
        font-size: 2rem;
    }
    .btn-left, .btn-right {
        height: 3rem;
    }
    .photos {
        height: auto;
        width: 100%;
    }
    #photos {
        margin: 0rem 4rem 0rem 4rem;
    }
    .profile_pic {
      max-width: 30%;
      text-align: center;
    }

}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
    .navbar-brand > img {
        width: 12rem;
        margin: auto auto;
        position: relative;
        top: -1.3rem;
    }
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
    #status  {
        background-size: 25rem;
     }



    .navbar-brand > img {
        width: 18rem;
        margin: auto auto;
        position: relative;
        top: -1.3rem;
    }

    1s

    
    .menu-bawah, .menu-bawah > li > a, #info {
        font-size: 2rem;
    }

    .btn-left, .btn-right {
        height: 4rem;
    }
    #photos {
        margin: 0rem 15rem 0rem 15rem;
    }
    .photos {
        height: auto;
        width: 100%;
    }
    .profile_pic {
      max-width: 30%;
      text-align: center;
    }
    .logo-brand {
      max-width: 23%;
    }
}


/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */

}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
    .navbar-nav {
        margin-left: 50px;
    }
    #status{
        background-size: 25rem;
    }
    .navbar {
      min-height: 60px !important;
    }

    .navbar-brand > img {
        width: 18rem;
        margin: auto auto;
        position: relative;
        top: -1.3rem;
    }
    
    .menu-bawah, .menu-bawah > li > a , #info{
        font-size: 2.5rem;
    }

    .btn-left, .btn-right {
        height: 5rem;
    }
    #photos {
        margin: 0 15% 0 15%;
    }
    div#photos.row.dk-all {
        margin: 0;
    }
    .photos {
        height: auto;
        width: 100%;
    }
/*    #photos .contributor{
      margin: 0% 17% 0% 17%;
    }*/
    .profile_pic {
      margin-top: 10%;
      text-align: center;
    }
    .profile_pic > img{
      max-width: 30%;
      margin-bottom: 2em;
    }
    .profile_pic > h3 {
      font-family: 'Daun';
    }
    .profile_photos, .profile_projects{
      font-family: 'Bebas';
      margin: 0% 0% 0% 0% !important;
    }
    #prev_projects {
      position: fixed;
      left: 600px;
    }
    .scroll {
      max-height:50rem; 
      overflow-x: hidden; 
    }
    .btn-profile {
      margin: 50% auto !important;
      text-align: center;
      position: absolute;
      top: 200px;
    }
    .img-projects > img{
      width: auto;
      height: 150px;
      margin: auto;
      float: right; 
    }
    .desc-projects {
      font-family: 'Daun';
    }
    .desc-projects > h1 {
      line-height: 0.1em;
    }
    .desc-projects > h3 {
      color: grey;
      line-height: 0em;
      text-indent: 20px;
    }
    .scroll .row {
      margin-bottom: 10px;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1440px) {
/* Styles */

    #status {
        background-size: 25rem;
    }

    .navbar-brand > img {
        width: 17rem;
        margin: auto auto;
        position: relative;
        top: -1.3rem;
    }

    
    .menu-bawah, .menu-bawah > li > a , #info{
        font-size: 2.5rem;
    }
    .btn-left, .btn-right {
        height: 5rem;
    }
    #photos {
        margin: 0rem 15rem 0rem 15rem;
    }
    .photos {
        height: auto;
        width: 96%;
        margin: 4% auto;
    }
    .profile_pic {
      max-width: 30%;
      text-align: center;
    }
}

